---
layout: default
section: programa
title: Devroom 3 - Perl
---

<h1 class="mt-3 mb-3">Devrooms <strong>es<span class="red">Libre</span></strong> {{site.year}}</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/perl.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Devroom 3: "Perl*"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <ul>
    <li>¿Conoces Perl, Perl5 o Perl6?</li>
    <li>¿Sí? Entonces ven y muestrános tus súper proyectos sean cuales sean y comparte tu experiencia con nosotros.</li>
    <li>¿No? No alarmarse! También habrá un tutorial básico sobre Perl6 que te enseñará por qué deberías empezar a usarlo.</li>
    <li>¿Alguna otra idea o taller sobre Perl*? Prepáratelo y estaremos encantados de escucharte!</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Comunidad o grupo que lo propone</h3>
  El grupo que impulsa esta devroom es <a href="http://granada.pm/" target="_blank">Granada Perl Mongers</a>:<br><br>
  <ul>
    <li><a href="https://twitter.com/jjmerelo" target="_blank">Juan Julián Merelo Guervós</a>: profesor en la <a href="https://canal.ugr.es/" target="_blank">Universidad de Granada</a> y Perl Monger</li>
    <li><a href="https://twitter.com/Antonio_D_Luffy" target="_blank">Antonio Gámiz Delgado</a>: estudiante de la <a href="https://canal.ugr.es/" target="_blank">Universidad de Granada</a> y Perl Monger</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Todo el mundo.
</div>

<div class="speaker-text">
  <h3>Formato</h3>
  <ul>
    <li>Talleres</li>
    <li>Charlas relámpago</li>
    <li>Charlas plenarias</li>
    <li>Mesas redondas</li>
  </ul>
</div>
