---
layout: default
section: programa
title: esLibre 2019 - Israel Blancas - Herramientas Linux para mejorar tu productividad o vacilar un poco
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (15:00 - 15:20)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/blancas_israel.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Israel Blancas: "Herramientas Linux para mejorar tu productividad o vacilar un poco"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Durante esta charla hablaré y mostraré algunas herramientas que harán tu vida más fácil o molona. Si no me crees, ¡vente!
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Todos conocemos grandes herramientas para Linux como el editor <code class="highlighter-rouge">vim</code>, el maravilloso <code class="highlighter-rouge">grep</code> y variantes, el espectacular <code class="highlighter-rouge">bash</code> y otros
  muchos commandos/programas/cosas que usamos diariamente pero... ¿los hay mejores? ¿o más simples?<br><br>
  Durante estos 20 minutos te mostraré algunas herramientas open source para Linux que molan mucho y que tú también podrás usar. Algunas las conocerás. Otras te parecerán útiles. Las otras te harán sonreir.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  A cualquiera que trabaje con la terminal en Linux.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://iblancasa.com/" target="_blank">Israel Blancas</a></strong>, Internal Tools Engineer en <a href="https://www.rti.com/" target="_blank">Real-Time Innovations</a>. ¿Qué es eso de "Internal Tools"? Desarrollo e implemento
  cosas en el equipo de ingeniería de la empresa para que mis compañeros tengan una vida mejor y, sobre todo,
  más sencilla.<br><br>
  Organizo <a href="https://gdggranada.com/" target="_blank">GDG Granada</a>. Y, por culpa de eso, he dado charlas de todo un poco:<br>
  <ul>
    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
    <li><a href="https://nodejs.org/es/" target="_blank">Node.js</a> / <a href="https://www.javascript.com/" target="_blank">JavaScript</a></li>
    <li><a href="https://www.python.org/" target="_blank">Python</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Front-end_y_back-end" target="_blank">Frontend</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Computaci%C3%B3n_en_la_nube" target="_blank">Cloud</a></li>
    <li>¡Y mucho más!</li>
  </ul>
  <a href="https://github.com/iblancasa" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.kitware.com/iblancasa" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/iblancasa" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/iblancasa/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
