---
layout: default
section: programa
title: esLibre 2019 - Ernesto Serrano - De Ballena a Gallopedro. Optimizando Dockerfiles
---

<h1 class="mt-3 mb-3">Track 3: Big Data, Machine Learning and Cloud (17:15 - 17:35)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/serrano_ernesto.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Ernesto Serrano: "De Ballena a Gallopedro. Optimizando Dockerfiles"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Algunos trucos y consejos para hacer que tus <a href="https://es.wikipedia.org/wiki/Virtualizaci%C3%B3n_a_nivel_de_sistema_operativo" target="_blank">contenedores</a> ocupen lo mínimo posible.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <ul>
    <li>¿Te pasas la vida esperando a que termine ese <code>docker-compose pull</code>?</li>
    <li>¿Tus macroservicios <a href="https://www.docker.com/" target="_blank">dockerizados</a> tienen una masa mayor que la de un agujero negro?</li>
    <li>¿Te preocupa la huella ecológica de tanto trasiego de información?</li>
  </ul>
  En esta charla mostraré como hacemos en <a href="https://www.openexo.com/" target="_blank">OpenExO</a> para ajustar la junta de la trócola y hacer que nuestros contenedores ocupen lo mínimo posible.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  A cualquiera que trabaje con contenedores y sistemas de <a href="https://es.wikipedia.org/wiki/Integraci%C3%B3n_continua" target="_blank">integración continua</a>.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://www.ernesto.es/" target="_blank">Ernesto Serrano</a></strong>, DevOps Engineer en <a href="https://www.openexo.com/" target="_blank">OpenExO</a>.<br><br>
  <a href="https://github.com/erseco" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/erseco" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/erseco/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
