---
layout: default
section: info
---


<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">Estamos trabajando en esLibre</h1>
  <p class="lead">Para toda la gente <em>nostálgica</em> de los congresos de HispaLiNUX se está trabajando
    en un nuevo formato, y quizás el comienzo de una nueva aventura.</p>
  <p>En breve habrá novedades...</p>
</main>