---
layout: default
section: programa
title: esLibre 2019 - Sofía Prósper / Santiago Saavedra - Trackula. Watching them watching us
---

<h1 class="mt-3 mb-3">Track 2: Social (12:15 - 12:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/proper_sofia__saavedra_santiago.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Sofía Prósper / Santiago Saavedra: "Trackula: watching them watching us"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Es posible que a estas alturas te hayas parado a pensar cuántas compañías conocen tus gustos en Internet, ¿pero y tus amigos? Cada vez que interaccionas con una página web o una app, o que usas un dispositivo conectado a Internet generas datos que
  pueden llegar a ser utilizados para predecir tu comportamiento.<br><br>
  Pero entender los mecanismos que se mueven en torno a la economía de la vigilancia digital es complicado incluso teniendo formación al respecto, ¿como podemos concienciar a la población sobre las consecuencias que puede tener la cesión de datos
  indiscriminada a la que somos sometidos constantemente? ¿Incluso... es legal?
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://sofipros.com/" target="_blank">Sofía Prósper</a></strong>. Coauthor of <a href="https://trackula.org/" target="_blank">Trackula</a>. Privacy advocate, architect and illustrator.<br><br>
  <a href="https://twitter.com/sofipros" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="  https://www.linkedin.com/in/sof%C3%ADa-prosper/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a><br><br>


  <strong><a href="http://ssaavedra.eu/" target="_blank">Santiago Saavedra</a></strong>. λx. Carbon-based lifeform. Privacy-concerned individual and Free Software advocate. You may know me from <a href="https://www.gpul.org/" target="_blank">GPUL</a>
  or <a href="https://trackula.org/" target="_blank">Trackula</a>.<br><br>
  <a href="https://github.com/ssaavedra" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/mapcar" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/ssice" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/santisaavedra/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
