---
layout: default
section: programa
title: esLibre 2019 - Virginia Díez - ¿Dónde están mis derechos digitales? Una perspectiva desde Wikimedia
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(15:30 - 16:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/diez_virginia.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Virginia Díez: "¿Dónde están mis derechos digitales? Una perspectiva desde Wikimedia"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3 style="text-align: center;"> Una perspectiva desde Wikipedia y los proyectos Wikimedia</h3>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <a href="https://es.wikipedia.org/" target="_blank">Wikipedia</a>, el quinto sitio web más visitado del mundo, es la enciclopedia libre que todo el mundo puede editar y su creación ha supuesto un antes y un después en la forma en que las personas
  creamos y compartimos conocimiento en línea. Tanto Wikipedia como sus 11 proyectos hermanos están desarrollados con software libre y promueven la democratización, no sólo del conocimiento, sino también de la tecnología.<br><br>
  Ahora bien, la <a href="https://es.wikipedia.org/wiki/Neutralidad_de_red" target="_blank">red neutral</a> y descentralizada que ha permitido los avances del conocimiento y la cultura libre sen encuentra en una situación el vulnerabilidad frente a
  algunas decisiones y políticas públicas que ponen en riesgo los derechos
  digitales de quienes habitan la red:
  el filtrado automático de contenidos que se propone en regulaciones como la última directiva de copyright en Europa, el bloqueo de <a href="https://www.wikimedia.es/wiki/Portada" target="_blank">Wikimedia</a> en Turquía o la falta de políticas
  municipales que fomenten el empoderamiento tecnológico de administración
  y ciudadanía.<br><br>
  Proponemos una charla para compartir algunas de las amenazas actuales a los derechos digitales y estrategias que se están llevando a cabo desde el Movimiento Wikimedia para combatirlas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://akelarreciberfeminista.noblogs.org/" target="_blank">Virginia Díez</a></strong>, responsable de Comunicación y Comunidad en Wikimedia España.<br><br>
  <a href="https://twitter.com/gini10" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/virginiadiez/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
